<div class="unmute" onclick="document.getElementById('audio').muted = !document.getElementById('audio').muted;$(this).toggleClass('mute')"></div>
<img src="/assets/images/bluecordlogo1.png" alt="logo" class="center-block logo img-responsive" />
<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="/assets/images/viday.mp4" type="video/webm">
  </video>
</div>


<header class="section-header animate-item animate">
  <h1 style="display: none!important;">News</h1>
  <ul>
    <li>n</li>
    <li>e</li>
    <li>w</li>
    <li>s</li>
  </ul>
</header>

<audio id="audio" autoplay="autoplay">
  <source src="/assets/audio/bodiesonbay.m4a" type="audio/mp4" />
  <p>Yes you need a new browser. Come back later kid.</p>
</audio>

