<img src="/assets/images/nraLogo4.png" alt="nraLogo" class="center-block img-responsive" /><br />
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Run-time</th>
        <th>PLAY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Episode 1</td>
        <td>We meet our heroes</td>
        <td>20 mins</td>
        <td><audio src="/assets/audio/test2.mp3" controls></audio></td>
      </tr>
      <tr>
        <td>Episode 2</td>
        <td>Russ and Eddy find a promising lead</td>
        <td>20 mins</td>
        <td><audio src="/assets/audio/test.m4a" controls></audio></td>
      </tr>
      <tr>
        <td>Episode 3</td>
        <td>Russ receives an impossible letter</td>
        <td>20 mins</td>
        <td><img src="/assets/images/play-button.png" alt="Alternate Text" /></td>
      </tr>
    </tbody>
  </table>
</div>

  

  
 

 
